---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="PseudoWTS; | UI/UX Designer Portfolio">
	<main class="relative bg-black min-h-screen">
		<Navbar />
		<Hero />
	</main>
</Layout>